.banner-section-bg-container {
    background-image: url(https://res.cloudinary.com/dhsmbae5q/image/upload/v1698662672/op5e1aoxakbz9zvqtqtb.jpg);
    
   height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}
.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}
.custom-button {
    color: white;
    background-color: #2c45d0;
    width: 130px;
    height: 45px;
    border-width: 2px;
    border-radius: 8px;
    margin-right: 10px;
    border-color: #f5f7fa;
}
.custom-outline-button {
    color: whitesmoke;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    border-radius: 8px;
}
